#!/usr/bin/env bash
set -e
cd {{ apache_root }}
if [ ! -f {{ apache_root }}/autoload.php ] ; then
    git clone https://github.com/shopware/shopware.git
    cd shopware/build/
    ant write-properties -Dapp.host={{ shopware_app_host }} -Dapp.path=/ -Ddb.name=shopware -Ddb.host=127.0.0.1 -Ddb.user=root -Ddb.password={{ mysql_root_password }}
    ant build-unit
fi

cd {{ apache_root }}
cp /home/vagrant/.env ../.env
if [ -d {{ apache_root }}/shopware ] ; then
    mv {{ apache_root }}/shopware/* {{ apache_root }}
    mv {{ apache_root }}/shopware/.htaccess {{ apache_root }}
fi
if [ -d {{ apache_root }}/var ] && [ ! -L {{ apache_root }}/var ] ; then
    mv {{ apache_root }}/var/* ../../shared/var/
fi
if [ -d {{ apache_root }}/media ] && [ ! -L {{ apache_root }}/media ] ; then
    cd /var/www/html/shared/
    wget -q -O test_images.zip http://releases.s3.shopware.com/test_images.zip
    unzip -o -qq test_images.zip
    rm -f test_images.zip
    mv {{ apache_root }}/media/* ../../shared/media/
    mv {{ apache_root }}/media/.htaccess ../../shared/media/
fi
rm -rf ../index.html .gitkeep {{ apache_root }}/shopware {{ apache_root }}/.git {{ apache_root }}/.github {{ apache_root }}/_sql {{ apache_root }}/build {{ apache_root }}/var {{ apache_root }}/media {{ apache_root }}/media/.gitkeep {{ apache_root }}/files {{ apache_root }}/web {{ apache_root }}/composer.phar {{ apache_root }}/config.php.dist {{ apache_root }}/CONTRIBUTING.md {{ apache_root }}/eula_en.txt {{ apache_root }}/eula.txt {{ apache_root }}/license.txt {{ apache_root }}/README.md {{ apache_root }}/UPGRADE-5.0.md {{ apache_root }}/UPGRADE-5.1.md {{ apache_root }}/UPGRADE-5.2.md
ln -s ../../shared/var {{ apache_root }}/var
ln -s ../../shared/web {{ apache_root }}/web
ln -s ../../shared/media {{ apache_root }}/media
ln -s ../../shared/files {{ apache_root }}/files

php /home/vagrant/bin/composer require vlucas/phpdotenv:2.* b3nl/sw-migrations:1.*